.btn.ps-btn {
  display: block;
  margin: 1rem auto;
  max-width: 200px;
}

.ps-submission {
  margin: 2rem auto;
}

.ps-submission > img {
  display: block;
}

.ps-submission > img,
.ps-block-center.ps-vertical-breathe.ps-buttons {
  margin: 2rem auto;
}

@media screen and (max-width: 695px) {
  div.ps-block-center.ps-vertical-breathe.ps-buttons {
    display: block;
  }
}

@media screen and (min-width: 696px) {
  div.ps-block-center.ps-vertical-breathe.ps-buttons {
    display: flex;
    max-width: 200px;
  }
}
